.es_caption 
{
	padding-bottom:5px;
	padding-top:5px;
	padding-right:5px;
}
.es_msg 
{
	padding-top:5px;
	padding-bottom:5px;
	color:#F00;
}
.es_textbox 
{
	padding-bottom:inherit;
}
.es_button 
{
	padding-top:inherit;
	padding-bottom:5px;
        text-align: right;
}
.es_textbox_class 
{
	width:200px;
}
.es_textbox_button 
{
	width:100px;
}
.es_lablebox
{
	padding-bottom:3px;
}

.es_form
{
        padding:0 30px 0 5px;
}